# optimize memcache

[mysqld]

# https://qiita.com/zaburo/items/65bac3b8e0a635ada68c

innodb_buffer_pool_size = 256M
innodb_log_file_size = 64M

key_buffer_size = 256M

read_buffer_size = 1M
sort_buffer_size = 1M
read_rnd_buffer_size = 4M

# https://qiita.com/1stMinos/items/6be2dab071e87fee9f4f

table_definition_cache=400
